<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="LegendCow">
  <meta name="description" content="An updated collection of commands for the Big Tuna Discord fishing bot">
  <meta name="keywords" content="commands, command, information, help, bigtuna, big tuna, discord, discord bot, fishing, discord fishing, fishing bot">
  <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon">

  <title>Big Tuna - Commands</title>

  <link rel="stylesheet" href="../css/global.css">
  <link rel="stylesheet" href="../css/commands.css">
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DDRVK2WS87"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DDRVK2WS87');


    const preset = "<%= preset %>";    
  </script>

  <script src="../js/global.js"></script>
  <script src="../js/commands.js"></script>
</head>
<body>
  <div id="cover"></div>

  <a href="https://top.gg/bot/803361191166607370" target="_blank">
    <picture>
      <source srcset="../images/web/logo.webp" type="image/webp">
      <source srcset="../images/backup/logo.jpg" type="image/jpeg">
      <img id="logo" src="../images/web/logo.webp">
    </picture>
  </a>

  <div id="menu" onclick="toggleDropdown()"><img src="../images/png/menu.png" alt="menu icon" id="menuImg"></div>

  <navbar>
    <a href="/">Home</a>
    <a href="/commands" class="selected-link">Commands</a>
    <a href="/start">Start Guide</a>
    <a href="/advanced">Advanced Gameplay</a>
    <a href="/shop">Big Tuna Shop</a>
  </navbar>

  <div id="main">
    <h1 id="title">COMMANDS</h1>
    <p id="subtitle">An updated collection of commands for the Big Tuna discord fishing bot</p>
    
    <div id="type-selector">
      <p class="selected">gameplay</p>
      <p>statistics</p>
      <p>information</p>
      <p>clans</p>
      <p>mods</p>
      <p>other</p>
    </div>

    <div class="category visible" id="gameplay">
      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">fish</p>
          <p class="description">Cast your line and see what you catch!</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.fish [bait (optional)]</p>
          <p class="bottom-italics">.fish</p>
          <p class="bottom-italics">.fish worms</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>React with the hook icon or wait 10 seconds to see your catch</li>
            <li>The fish you catch will be near your hook</li>
            <li>Also accepts <span class="command-highlight">.f</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">aquarium</p>
          <p class="description">View and collect coins from your collection of fish</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.aquarium [number (optional)]</p>
          <p class="bottom-italics">.aquarium</p>
          <p class="bottom-italics">.aquarium 2</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>React with the coin icon to collect your coins</li>
            <li>The number you choose defaults to your current location if a value is not provided</li>
            <li>Also accepts <span class="command-highlight">.a</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">collect</p>
          <p class="description">Conveniently collects the coins from your aquariums</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.collect</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Also accepts <span class="command-highlight">.c</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">shop</p>
          <p class="description">Presents the shop page, where you can upgrade your stuff</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.shop</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>A lock icon means you are not a high enough level to buy an item</li>
            <li>A credit card icon means you don’t have enough coins to buy an item</li>
            <li>A number icon represents the number you must react with to buy an item</li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">setlocation</p>
          <p class="description">Sets your fishing location</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.setlocation [number]</p>
          <p class="bottom-italics">.setlocation 1</p>
          <p class="bottom-italics">.setlocation 3</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>This command is not needed until you reach level 10, when you unlock the second location</li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">quest</p>
          <p class="description">Opens your quest page</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.quest</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>You can renew your quest after it is 3 days old</li>
            <li>This command is not accessible until you reach level 10</li>
            <li>Also accepts <span class="command-highlight">.q</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">bounty</p>
          <p class="description">Opens the weekly bounty page</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.bounty</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Bounty rewards can only be acquired once per week</li>
            <li>The bounty resets weekly at midnight Saturday UTC time</li>
            <li>This command is not accessible until you reach level 10</li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">baitshop</p>
          <p class="description">Presents the bait shop page, where you can buy baits with quest points</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.baitshop</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>The bait shop refreshes every 24 hours, at 12am UTC time</li>
            <li>This command is not needed until you reach level 10, when you unlock quest points</li>
            <li>Also accepts <span class="command-highlight">.bs</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">baits</p>
          <p class="description">Displays the baits in your inventory</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.baits</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>This command is not needed until you reach level 10, when you unlock quest points</li>
            <li>Also accepts <span class="command-highlight">.b</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">card</p>
          <p class="description">View and interact with your fish cards</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.card [ID (optional)]</p>
          <p class="bottom-italics">.card</p>
          <p class="bottom-italics">.card 48</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>This command is not needed until you reach level 20, when you unlock cards</li>
            <li>Also accepts <span class="command-highlight">.cards</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">givecard</p>
          <p class="description">Give a fish card to another player</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.givecard [card ID] [@user]</p>
          <p class="bottom-italics">.givecard 59 @Huntail777#4311</p>  
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Cards must be given to players level 20 or above</li>
            <li>Also accepts <span class="command-highlight">.gc</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">ring</p>
          <p class="description">View and interact with your rings</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.ring [ID (optional)]</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>This command is not needed until you reach level 20, when you unlock rings</li>
            <li>Also accepts <span class="command-highlight">.rings</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">givering</p>
          <p class="description">Give a ring to another player</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.givering [ring ID] [@user]</p>
          <p class="bottom-italics">.givering 25 @Huntail777#4311</p>  
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Rings must be given to players level 20 or above</li>
            <li>The sell price of given rings becomes 0</li>
            <li>Also accepts <span class="command-highlight">.gr</span></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="category" id="statistics">
      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">stats</p>
          <p class="description">Shows your personal stats</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.stats</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Also accepts <span class="command-highlight">.s</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">serverstats</p>
          <p class="description">Shows stats about the server it was called from</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.serverstats</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Global ranking is based on total weight caught</li>
            <li>Also accepts <span class="command-highlight">.ss</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">.cooldowns</p>
          <p class="description">View your cooldowns page</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.cooldowns</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Big Big Tuna Supporters will have an extra entry called Accumulated Time</li>
            <li>Also accepts <span class="command-highlight">.cd</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">cooldowns</p>
          <p class="description">Shows all cooldown information</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.cooldown</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Will show Time Accumulation for Big Tuna Supporters</li>
            <li>Also accepts <span class="command-highlight">.cd</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">equipment</p>
          <p class="description">Displays your fishing equipment and its capabilities</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.equipment</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Includes your rod, line, and hook</li>
            <li>The overall max weight is that of the weakest of your components</li>
            <li>Also accepts <span class="command-highlight">.e</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">leaderboards</p>
          <p class="description">Displays the server leaderboards</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.leaderboards</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Ranking is based on total weight caught</li>
            <li>Also accepts <span class="command-highlight">.lb</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">fishleaderboards</p>
          <p class="description">Displays global and server fish leaderboards</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.fishleaderboards [fish]</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Ranking is based on best caught fish of a species</li>
            <li>Also accepts <span class="command-highlight">.flb</span></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="category" id="information">
      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">server</p>
          <p class="description">Fetches the Official Big Tuna Server invite link</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.server</p>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">info</p>
          <p class="description">Fetches command information</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.info [command (optional)]</p>
          <p class="bottom-italics">.info</p>
          <p class="bottom-italics">.info baitshop</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Typing .info start will bring up a start guide</li>
            <li>Also accepts <span class="command-highlight">.help</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">iteminfo</p>
          <p class="description">Fetches item/bait information</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.iteminfo [item/bait]</p>
          <p class="bottom-italics">.iteminfo leeches</p>
          <p class="bottom-italics">.iteminfo wooden rod</p>
          <p class="bottom-italics">.iteminfo grass line</p>
          <p class="bottom-italics">.iteminfo rusty hook</p>
          <p class="bottom-italics">.iteminfo standard aquarium</p>
          <p class="bottom-italics">.iteminfo hooks</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Accepts <span class="command-highlight">baits</span>, <span class="command-highlight">rods</span>, <span class="command-highlight">lines</span>, and <span class="command-highlight">hooks</span> as parameters too</li>
            <li>Also accepts <span class="command-highlight">.ii</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">fishinfo</p>
          <p class="description">Fetches information about a fish</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.fishinfo [fish]</p>
          <p class="bottom-italics">.fishinfo bluegill</p>
          <p class="bottom-italics">.fishinfo rainbow trout</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Only works on fish from locations you have unlocked</li>
            <li>Also accepts <span class="command-highlight">.fi</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">locationinfo</p>
          <p class="description">Fetches information about a location</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.locationinfo [number (optional)]</p>
          <p class="bottom-italics">.locationinfo</p>
          <p class="bottom-italics">.locationinfo 1</p>
          <p class="bottom-italics">.locationinfo 3</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Also accepts <span class="command-highlight">.li</span></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="category" id="clans">
      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">clan</p>
          <p class="description">Shows your clan page</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.clan</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Green square means member last fished within a week</li>
            <li>Yellow square means member last fished within 2 weeks</li>
            <li>Red square means member last fished over 2 weeks ago</li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">members</p>
          <p class="description">Shows your clan members page</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.members</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Shows campaign catches for each member</li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">campaign</p>
          <p class="description">Shows the current campaign stage</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.campaign</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Also accepts <span class="command-highlight">.ca</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">create</p>
          <p class="description">Creates a fishing clan</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.create</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Requires Lvl.20 or above</li>
            <li>Costs 5000 coins</li>
            <li>Also accepts <span class="command-highlight">.createclan</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">rename</p>
          <p class="description">Rename your clan to something of your choosing</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.rename [new name]</p>
          <p class="bottom-italics">.rename The Big Fishers</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Maximum 32 characters</li>
            <li>Must only use characters from the english alphabet</li>
            <li>Cannot start or end with a space, or have 2 spaces in a row</li>
            <li>Also accepts <span class="command-highlight">.renameclan</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">join</p>
          <p class="description">Join a clan</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.join [Clan ID] [password (optional)]</p>
          <p class="bottom-italics">.join 14</p>
          <p class="bottom-italics">.join 73 xyslkg</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>No level requirement</li>
            <li>Also accepts <span class="command-highlight">.joinclan</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">leave</p>
          <p class="description">Leave a clan</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.leave</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Also accepts <span class="command-highlight">.leaveclan</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">password</p>
          <p class="description">View clan password</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.password</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Only usable by Trusted Members and Leaders</li>
            <li>Also accepts <span class="command-highlight">.pass</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">newpassword</p>
          <p class="description">Generates a new clan password</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.newpassword</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Turns on the password feature if it was disabled</li>
            <li>Only usable by Trusted Members and Leaders</li>
            <li>Also accepts <span class="command-highlight">.newpass</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">nopassword</p>
          <p class="description">Turns off passwords for your clan</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.nopassword</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Only usable by Trusted Members and Leaders</li>
            <li>Also accepts <span class="command-highlight">.nopass</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">promote</p>
          <p class="description">Promote players within a clan</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.promote [ping/username]</p>
          <p class="bottom-italics">.promote @Huntail777#4311</p>
          <p class="bottom-italics">.promote Huntail777#4311</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Only usable by Trusted Members and Leaders</li>
            <li>Can be used to promote Trusted Members to Leaders</li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">demote</p>
          <p class="description">Demote players within a clan</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.demote [ping/username]</p>
          <p class="bottom-italics">.demote @Huntail777#4311</p>
          <p class="bottom-italics">.demote Huntail777#4311</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Only usable by Trusted Members and Leaders</li>
            <li>Can be used to kick Members from a clan</li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">kick</p>
          <p class="description">Kick players from a clan</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.kick [ping/username]</p>
          <p class="bottom-italics">.kick @Huntail777#4311</p>
          <p class="bottom-italics">.kick Huntail777#4311</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Only usable by Trusted Members and Leaders</li>
          </ul>
        </div>
      </div>
    </div>


    <div class="category" id="mods">
      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">toggle</p>
          <p class="description">Toggle various server settings</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.toggle [option]</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li><span class="command-highlight">.toggle startinfo</span> toggles whether members receive a message from Big Tuna when they join your server</li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">setprefix</p>
          <p class="description">Set the prefix for your server</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.setprefix [prefix]</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>If you forget your prefix, ping Big Tuna</li>
            <li>Your prefix must be one of: <span class="command-highlight">. ! ? , ~ ; f .. ?? !! f! t!</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">setcustomfish</p>
          <p class="description">Set a custom fish command for your server</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.setcustomfish [alias]</p>
          <p class="bottom-italics">.setcustomfish potato</p>
          <p class="bottom-italics">.setcustomfish 1</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Only usable once someone has used <span class="command-highlight">.redeem</span> in the server</li>
            <li>Unlimited uses</li>
            <li>Type <span class="command-highlight">.scf</span> to switch off the feature</li>
            <li>Also accepts <span class="command-highlight">.scf</span></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="category" id="other">
      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">redeem</p>
          <p class="description">Redeem custom fish privileges to a server</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.redeem</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Your unused redeems will show up in <span class="command-highlight">.stats</span></li>
            <li>Purchased from the Big Tuna Shop</li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">givepremium</p>
          <p class="description">Give extra Big Supporter perks to other players</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.givepremium [@user]</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Your unused supporter gifts will show up in <span class="command-highlight">.stats</span></li>
            <li>Purchased from the Big Tuna Shop</li>
          </ul>
        </div>
      </div>
    </div>


    <div id="footer">
      <div class="footerColumn">
        <div class="columnText">
          <h3 class="footerTitle">Official Server</h3>
          <p>Get support</p>
          <p>Learn to fish</p>
          <p>Explore the community</p>
          <p><a href="https://discord.gg/RaN2VE9zpa" target="_blank">Join the server</a></p>
        </div>
      </div>
      <div class="footerColumn">
        <div class="columnText">
          <h3 class="footerTitle">Useful Links</h3>
          <p><a href="https://top.gg/bot/803361191166607370" target="_blank">Bot page</a></p>
          <p><a href="https://discord.com/api/oauth2/authorize?client_id=803361191166607370&permissions=59456&scope=bot" target="_blank">Invite now</a></p>
        </div>
      </div>
      <div class="footerColumn">
        <div class="columnText">
          <h3 class="footerTitle">Contact</h3>
          <p id="email">discordbigtuna@gmail.com</p>
          <p id="discord">Huntail777#4311</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>