<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="LegendCow">
  <meta name="description" content="An updated collection of commands for the Big Tuna Discord fishing bot">
  <meta name="keywords" content="commands, command, information, help, bigtuna, big tuna, discord, discord bot, fishing, discord fishing, fishing bot">
  <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon">

  <title>Big Tuna - Commands</title>

  <link rel="stylesheet" href="../css/global.css">
  <link rel="stylesheet" href="../css/commands.css">
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DDRVK2WS87"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DDRVK2WS87');


    const preset = "<%= preset %>";    
  </script>

  <script src="../js/global.js"></script>
  <script src="../js/commands.js"></script>
</head>
<body>
  <div id="cover"></div>

  <a href="https://top.gg/bot/803361191166607370" target="_blank">
    <picture>
      <source srcset="../images/web/logo.webp" type="image/webp">
      <source srcset="../images/backup/logo.jpg" type="image/jpeg">
      <img id="logo" src="../images/web/logo.webp">
    </picture>
  </a>

  <div id="menu" onclick="toggleDropdown()"><img src="../images/png/menu.png" alt="menu icon" id="menuImg"></div>

  <navbar>
    <a href="/">Home</a>
    <a href="/commands" class="selected-link">Commands</a>
    <a href="/start">Start Guide</a>
    <a href="/advanced">Advanced Gameplay</a>
    <a href="/shop">Big Tuna Shop</a>
  </navbar>

  <div id="main">
    <h1 id="title">COMMANDS</h1>
    <p id="subtitle">An updated collection of commands for the Big Tuna discord fishing bot</p>
    <p id="subtitle">Both slash commands and text commands are supported</p>
    <p id="subtitle"><br>[] = optional entry</p>
    <p id="subtitle">&lt&gt = mandatory entry</p>
    
    <div id="type-selector">
      <p class="selected">basic</p>
      <p>advanced</p>
      <p>rankings</p>
      <p>clan</p>
      <p>special</p>
    </div>

    <div class="category visible" id="basic">
      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">aquarium</p>
          <p class="description">Check one of your aquariums</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.aquarium [location] [user]</p>
          <p class="bottom-italics">.aquarium</p>
          <p class="bottom-italics">.aquarium 5</p>
          <p class="bottom-italics">.aquarium 5 @huntail777</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Includes an image of your aquarium</li>
            <li>If no location is provided, it will show your current location</li>
            <li>Also accepts <span class="command-highlight">.a</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">aquariums</p>
          <p class="description">Check all of your aquariums</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.aquarium [user]</p>
          <p class="bottom-italics">.aquariums</p>
          <p class="bottom-italics">.aquariums @huntail777</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Includes overall coin generation</li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">buy</p>
          <p class="description">Purchase an item from the shop</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.buy &ltequipment&gt</p>
          <p class="bottom-italics">.buy rod</p>
          <p class="bottom-italics">.buy hook</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>The shop to buy from can be viewed with <span class="command-highlight">.shop</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">collect</p>
          <p class="description">Collect coins from your aquariums</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.collect</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>This is the only way to collect coins from your aquariums</li>
            <li>Collects from all of your aquariums at once</li>
            <li>Also accepts <span class="command-highlight">.c</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">cooldowns</p>
          <p class="description">Check your cooldowns</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.cooldowns</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Also accepts <span class="command-highlight">.cd</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">equipment</p>
          <p class="description">Check your equipment</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.equipment [user]</p>
          <p class="bottom-italics">.equipment @huntail777</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Upgrade your gear through the shop</li>
            <li>Also accepts <span class="command-highlight">.e</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">fish</p>
          <p class="description">Catch fish</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.fish [bait]</p>
          <p class="bottom-italics">.fish</p>
          <p class="bottom-italics">.fish worms</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Has a cooldown of about 1 hour</li>
            <li>Also accepts <span class="command-highlight">.f</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">help</p>
          <p class="description">Access help guides</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.help [guide]</p>
          <p class="bottom-italics">.help</p>
          <p class="bottom-italics">.help weather</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Type <span class="command-highlight">.help</span> to get a list of guides</li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">info</p>
          <p class="description">View data on equipment, baits, and fish</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.info [thing]</p>
          <p class="bottom-italics">.info</p>
          <p class="bottom-italics">.info baits</p>
          <p class="bottom-italics">.info wooden rod</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Type <span class="command-highlight">.info</span> for how to use</li>
            <li>Also accepts <span class="command-highlight">.ii</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">quickstart</p>
          <p class="description">Access a quickstart guide</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.quickstart</p>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">location</p>
          <p class="description">View data on a location</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.location &ltnumber&gt</p>
          <p class="bottom-italics">.location 3</p>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">locations</p>
          <p class="description">View all location data</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.locations</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Same as <span class="command-highlight">.weather</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">setlocation</p>
          <p class="description">Set your fishing location</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.setlocation &ltnumber&gt</p>
          <p class="bottom-italics">.setlocation 2</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Also accepts <span class="command-highlight">.sl</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">shop</p>
          <p class="description">Check the shop</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.shop</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Lock Icon = level too low</li>
            <li>Credit Card Icon = not enough coins</li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">stats</p>
          <p class="description">Check your stats</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.stats [user]</p>
          <p class="bottom-italics">.stats</p>
          <p class="bottom-italics">.stats @huntail777</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Also accepts <span class="command-highlight">.s</span> or <span class="command-highlight">.stats player</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">stats server</p>
          <p class="description">Check server stats</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.stats server</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Weight caught only counts fish caught in the server</li>
            <li>Also accepts <span class="command-highlight">.ss</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">stats global</p>
          <p class="description">Check global stats</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.stats global</p>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">vote</p>
          <p class="description">Vote for rewards</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.vote</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Resets your fishing cooldown when you vote</li>
            <li>Also accepts <span class="command-highlight">.v</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">weather</p>
          <p class="description">View weather</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.weather</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Same as <span class="command-highlight">.locations</span></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="category" id="advanced">
      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">bait</p>
          <p class="description">Check your baits</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.bait</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Also accepts <span class="command-highlight">.b</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">baitshop</p>
          <p class="description">Check and purchase from the Bait Shop</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.baitshop</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>New items appear in the bait shop every day</li>
            <li>Also accepts <span class="command-highlight">.bs</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">bounty</p>
          <p class="description">Check the weekly bounty</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.bounty</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Bounty can only be caught once a week</li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">card</p>
          <p class="description">Check a card</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.card &ltid&gt [user]</p>
          <p class="bottom-italics">.card 3</p>
          <p class="bottom-italics">.card 3 @huntail777</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Sell or redeem cards to your aquarium with buttons</li>
            <li>Give cards with <span class="command-highlight">.give card</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">cards</p>
          <p class="description">Check all cards</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.cards [user]</p>
          <p class="bottom-italics">.cards</p>
          <p class="bottom-italics">.cards @huntail777</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Shows id for each of your cards</li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">give card</p>
          <p class="description">Give a card to another player</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.give card &ltid&gt &ltuser&gt</p>
          <p class="bottom-italics">.give card 2 @huntail777</p>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">give ring</p>
          <p class="description">Give a card to another player</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.give ring &ltid&gt &ltuser&gt</p>
          <p class="bottom-italics">.give ring 4 @huntail777</p>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">give skin</p>
          <p class="description">Give a skin to another player</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.give skin &ltid&gt &ltuser&gt</p>
          <p class="bottom-italics">.give skin 1 @huntail777</p>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">give supporter</p>
          <p class="description">Give Big Supporter to another player</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.give supporter &ltuser&gt</p>
          <p class="bottom-italics">.give supporter @huntail777</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>You must have an extra copy of Big Supporter to use this command (see Big Tuna Shop)</li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">quest</p>
          <p class="description">Check your quest</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.quest [user]</p>
          <p class="bottom-italics">.quest</p>
          <p class="bottom-italics">.quest @huntail777</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Reset or claim rewards for your quest with buttons</li>
            <li>Also accepts <span class="command-highlight">.q</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">ring</p>
          <p class="description">Check a ring</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.ring &ltid&gt [user]</p>
          <p class="bottom-italics">.ring 4</p>
          <p class="bottom-italics">.ring 4 @huntail777</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Sell or equip rings with buttons</li>
            <li>Give rings with <span class="command-highlight">.give ring</span></li>
            <li>Given rings have a sell price of 0 coins</li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">rings</p>
          <p class="description">Check all rings</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.rings [user]</p>
          <p class="bottom-italics">.rings</p>
          <p class="bottom-italics">.rings @huntail777</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Shows id for each of your rings</li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">servershop</p>
          <p class="description">Check the premium Server Shop</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.servershop</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Each server has a unique Server Shop</li>
            <li>Refreshes once a week</li>
            <li>A player may only claim from a specific server shop once per week</li>
            <li>Only Premium Big Tuna Servers have a Server Shop (see Big Tuna Shop)</li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">skin</p>
          <p class="description">Check a skin</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.skin &ltid&gt</p>
          <p class="bottom-italics">.skin 4</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Discard or equip skins with buttons</li>
            <li>Give skins with <span class="command-highlight">.give skin</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">skins</p>
          <p class="description">Check all skins</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.skins</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Shows id for each of your skins</li>
          </ul>
        </div>
      </div>
    </div>


    <div class="category" id="rankings">
      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">fishleaderboards</p>
          <p class="description">Fetches leaderboards for a specific fish</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.fishleaderboards &ltfish&gt</p>
          <p class="bottom-italics">.fishleaderboards green sunfish</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Also accepts <span class="command-highlight">.flb</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">leaderboards kg</p>
          <p class="description">Fetches server leaderboards by weight caught</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.leaderboards kg</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Also accepts <span class="command-highlight">.lb kg</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">leaderboards score</p>
          <p class="description">Fetches server leaderboards by Fisher Score</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.leaderboards score</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Also accepts <span class="command-highlight">.lb score</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">rankings</p>
          <p class="description">Fetches global rankings by Fisher Score</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.rankings [user]</p>
          <p class="bottom-italics">.rankings</p>
          <p class="bottom-italics">.rankings @huntail777</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Only available to Big Supporters (see Big Tuna Shop)</li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">scores</p>
          <p class="description">Fetches global rankings and score breakdown for a location (Fisher Score)</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.scores &ltlocation&gt [user]</p>
          <p class="bottom-italics">.scores 4</p>
          <p class="bottom-italics">.scores 4 @huntail777</p>
        </div>
      </div>
    </div>


    <div class="category" id="clan">
      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">board</p>
          <p class="description">Find clans to join</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.clan board</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Random results for each use</li>
            <li>Only clans without a password will appear</li>
            <li>Only clans with less than 20 members will appear</li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">buy</p>
          <p class="description">Purchase perks from the clan shop</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.clan buy &ltupgrade&gt</p>
          <p class="bottom-italics">.clan buy exp</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Purchase with Clan Points</li>
            <li>All clan members benefit from perks</li>
            <li>Options can be viewed with <span class="command-highlight">.clan shop</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">campaign</p>
          <p class="description">Check clan quests (campaigns)</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.clan campaign</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Earn Clan Points</li>
            <li>All clan members get the Quest Point and coin rewards</li>
            <li>Each clan member can contribute a maximum of 1 catch per day</li>
            <li>Also accepts <span class="command-highlight">.ca</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">create</p>
          <p class="description">Create a clan</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.clan create &ltname&gt</p>
          <p class="bottom-italics">.clan create My Clan</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Costs 5000 coins</li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">demote</p>
          <p class="description">Demote a clan member</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.clan demote &ltid&gt</p>
          <p class="bottom-italics">.clan demote 4</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>See clan member ids with <span class="command-highlight">.clan members</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">join</p>
          <p class="description">Join a clan</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.clan join &ltclan id&gt [password]</p>
          <p class="bottom-italics">.clan join 1</p>
          <p class="bottom-italics">.clan join 7 GXYF</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Find clans to join with <span class="command-highlight">.clan board</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">kick</p>
          <p class="description">Kick a clan member</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.clan kick &ltid&gt</p>
          <p class="bottom-italics">.clan kick 4</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>See clan member ids with <span class="command-highlight">.clan members</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">members</p>
          <p class="description">Check an overview of clan members</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.clan members</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Shows member ids and campaign contributions</li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">password check</p>
          <p class="description">Privately check the clan password</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.clan password check</p>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">password disable</p>
          <p class="description">Removes the password requirement to join your clan</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.clan password disable</p>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">password generate</p>
          <p class="description">Generates a new password for your clan</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.clan password generate</p>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">perks</p>
          <p class="description">Check clan perks</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.clan perks</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Includes both perks from the clan shop and star perks</li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">profile</p>
          <p class="description">Check your clan profile</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.clan profile [user]</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>The names of members from other clans will not be shown unless they are opted in</li>
            <li>Also accepts <span class="command-highlight">.clan</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">promote</p>
          <p class="description">Promote a clan member</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.clan promote &ltid&gt</p>
          <p class="bottom-italics">.clan promote 4</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>See clan member ids with <span class="command-highlight">.clan members</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">rename</p>
          <p class="description">Rename your clan</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.clan rename &ltname&gt</p>
          <p class="bottom-italics">.clan rename My New Name</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Clans have a limited number of renames</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="category" id="special">
      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">opt in</p>
          <p class="description">Make your stats accessible to other players</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.opt in</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Check status with <span class="command-highlight">.stats player</span></li>
            <li>Other players will be able to view your equipment, aquariums, etc.</li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">opt out</p>
          <p class="description">Make your stats inaccessible to other players</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.opt out</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Check status with <span class="command-highlight">.stats player</span></li>
            <li>Other players will not be able to view your equipment, aquariums, etc.</li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">redeem</p>
          <p class="description">Gift a server the Premium Server perk</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.opt out</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>You must have purchased Premium Server to use this command (see Big Tuna Shop)</li>
            <li>Check usability with <span class="command-highlight">.stats player</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">setcustomfish</p>
          <p class="description">Set a custom word or phrase to trigger the fish command</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.setcustomfish &ltphrase&gt</p>
          <p class="bottom-text">.setcustomfish f</p>
          <p class="bottom-text">.setcustomfish i love fishing</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>Only moderators of Premium Servers may use this command (see Big Tuna Shop)</li>
            <li>Check custom fish status with <span class="command-highlight">.stats server</span></li>
          </ul>
        </div>
      </div>

      <div class="command">
        <div class="top" onclick="expand(this)">
          <p class="command-name">updates</p>
          <p class="description">View major updates for Big Tuna</p>
        </div>
        <div class="bottom">
          <hr>
          <p class="bottom-header">Usage</p>
          <p class="bottom-text">.updates</p>
          <p class="bottom-header">Other Information</p>
          <ul>
            <li>May have useful information to help troubleshoot issues</li>
            <li>Only updated for major updates</li>
          </ul>
        </div>
      </div>
    </div>


    <div id="footer">
      <div class="footerColumn">
        <div class="columnText">
          <h3 class="footerTitle">Official Server</h3>
          <p>Get support</p>
          <p>Learn to fish</p>
          <p>Explore the community</p>
          <p><a href="https://discord.gg/RaN2VE9zpa" target="_blank">Join the server</a></p>
        </div>
      </div>
      <div class="footerColumn">
        <div class="columnText">
          <h3 class="footerTitle">Useful Links</h3>
          <p><a href="https://top.gg/bot/803361191166607370" target="_blank">Bot page</a></p>
          <p><a href="https://discord.com/oauth2/authorize?client_id=803361191166607370&permissions=35904&scope=applications.commands%20bot" target="_blank">Invite now</a></p>
        </div>
      </div>
      <div class="footerColumn">
        <div class="columnText">
          <h3 class="footerTitle">Contact</h3>
          <p id="email">bigtuna.xyz@gmail.com</p>
          <p id="discord">huntail777#4311</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>