<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Huntail777">
    <meta name="description" content="Support the Big Tuna discord bot">
    <meta name="keywords" content="bigtuna, big tuna, big, tuna, discord, discord bot, bot, store, big tuna store">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">

    <title>Big Tuna - Shop</title>

    <link rel="stylesheet" href="../css/global.css">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DDRVK2WS87"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-DDRVK2WS87');
    </script>
    
    <script src="../js/global.js"></script>
  </head>
  <body>
    <div id="cover"></div>

    <a href="https://top.gg/bot/803361191166607370" target="_blank">
      <picture>
        <source srcset="../images/web/logo.webp" type="image/webp">
        <source srcset="../images/backup/logo.jpg" type="image/jpeg">
        <img id="logo" src="../images/web/logo.webp">
      </picture>
    </a>
    
    <div id="top">
      <navbar>
        <a href="/" class="selected-link">Home</a>
        <a href="/commands">Commands</a>
        <a href="/start">Start Guide</a>
        <a href="/advanced">Advanced Gameplay</a>
        <a href="/shop">Big Tuna Shop</a>
      </navbar>
    </div>

    <div id="footer">
      <div class="footerColumn">
        <div class="columnText">
          <h3 class="footerTitle">Official Server</h3>
          <p>Get support</p>
          <p>Learn to fish</p>
          <p>Explore the community</p>
          <p><a href="https://discord.gg/RaN2VE9zpa" target="_blank">Join the server</a></p>
        </div>
      </div>
      <div class="footerColumn">
        <div class="columnText">
          <h3 class="footerTitle">Useful Links</h3>
          <p><a href="https://top.gg/bot/803361191166607370" target="_blank">Bot page</a></p>
          <p><a href="https://discord.com/api/oauth2/authorize?client_id=803361191166607370&permissions=59456&scope=bot" target="_blank">Invite now</a></p>
        </div>
      </div>
      <div class="footerColumn">
        <div class="columnText">
          <h3 class="footerTitle">Contact</h3>
          <p id="email">discordbigtuna@gmail.com</p>
          <p id="discord">Huntail777#4311</p>
        </div>
      </div>
    </div>
  </body>
</html>