@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500;700&family=Recursive:wght@300;400;500&family=Rubik:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #20202A;
  font-family: "Recursive";
  color: white;
  overflow-x: hidden;
}

#cover { position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; z-index: 2; background: #20202A; }

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-thumb { background: #14141A; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #555; }

navbar {
  float: right;
  margin-top: 32px;
  margin-right: 48px; 
}

navbar a {
  margin-left: 32px;
  font-size: 24px;
  font-weight: 300;
  color: #c4c4c4;
  text-decoration: none;
}

navbar a:hover { color: white; }

.selected-link { border-bottom: 1px solid #c4c4c4; }
.selected-link:hover { border-bottom: 1px solid white; }

#footerWrapper {
  width: 60%;
  margin-left: 20%;
}

#footer {
  margin: 48px auto 24px auto;
  width: 80%;
  height: 256px;
}

.footerColumn {
  width: 33%;
  float: left;
}

.footerTitle {
  font-size: 20px;
  display: inline-block;
  padding-bottom: 8px;
  border-bottom: 1px solid #c4c4c4;
  color: #21afff;
}

.columnText {
  width: 80%;
  margin-left: 10%;
}

.columnText p {
  font-size: 16px;
  margin-top: 24px;
  color: #c4c4c4;
}

.columnText a {
  color: #0092e6;
  text-decoration: none;
}

.columnText a:hover { color: #21afff; }

#email { white-space: nowrap; }

#email::before {
  background-image: url("../images/original/email.png");
  display: inline-block;
  background-size: 22px 15px;
  width: 22px;
  height: 15px;
  vertical-align: middle;
  margin-right: 12px;
  transform: translateY(-1px);
  content: "";
}

#discord { white-space: nowrap; }

#discord::before {
  background-image: url("../images/original/discord.png");
  display: inline-block;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 14px;
  transform: translateY(-1px);
  content: "";
}

@media only screen and (max-width: 1440px) {
  #footer { width: 90%; }
  navbar a { font-size: 22px; }
}

@media only screen and (max-width: 1024px) {
  #footer { width: 100%; }
  .footerTitle { font-size: 18px; }
  .columnText p { font-size: 15px; }
  navbar { display: none; }
}

@media only screen and (max-width: 768px) {
  #footer { width: 100%; margin-top: 128px; }
  .footerColumn {
    width: 100%;
    text-align: center;
    margin-bottom: 42px;
  }
  .footerTitle { font-size: 18px; }
  .columnText {
    width: 100%;
    margin-left: 0;
  }
  .columnText p { font-size: 15px; }
}

@media only screen and (max-width: 420px) {
  #footer { margin-top: 64px; }
}