#logo {
  width: 64px;
  position: fixed;
  top: 32px;
  left: 32px;
  border-radius: 32px;
  transition: 0.3s;
  z-index: 1;
  filter: brightness(90%);
}

#logo:hover {
  border-radius: 16px;
  filter: brightness(100%);
}

#top {
  height: 100vh;
  position: relative;
}

.main {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 23%;
  text-align: center;
  transform: translateX(-50%);
}

#title {
  font-family: "Prompt";
  font-size: 96px;
  font-weight: 700;
  letter-spacing: 6px;
  text-shadow: 0px 4px #21afff;
}

#subtitle {
  font-size: 40px;
  font-weight: 300;
  font-style: italic;
  color: #c4c4c4;
  margin-top: -8px;
}

#inviteButton {
  display: block;
  width: 256px;
  margin: 36px auto;
  padding: 16px;
  font-family: "Rubik";
  font-size: 18px;
  border-radius: 256px;
  color: white;
  text-decoration: none;
  border: 2px solid #21afff;
  transition: 0.3s background-color;
}

#inviteButton:hover { background-color: #21afff; }

.stats {
  width: 100%;
  position: absolute;
  top: 60%;
  text-align: center;
}

.left, .right {
  width: 50%;
  float: left;
}

.statValue {
  display: inline;
  padding: 0 16px;
  font-size: 96px;
  font-weight: 500;
  border-bottom: 2px solid #21afff;
}

.statTitle {
  margin-top: 16px;
  font-size: 32px;
  color: #c4c4c4;
}

#scroll {
  position: absolute;
  left: 50%;
  top: 78%;
  transform: translateX(-50%);
}

#scrollImg {
  width: 96px;
  animation-name: scroll;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-delay: 5s;
  filter: invert(100%);
  opacity: 0;
}

@keyframes scroll {
  0% { opacity: 0.7; }
  30% { opacity: 0.4; }
  60% { opacity: 0; transform: translateY(4vh); }
  100% { opacity: 0; transform: translateY(4vh); }
}

.description {
  width: 60%;
  margin-left: 20%;
  position: absolute;
  top: 100%;
}

.description img, .desc {
  width: 86%;
  border-radius: 8px;
  margin-left: 7%;
}

#aquariumImg {
  width: 100%;
  margin-left: 0;
}

.desc h1 {
  font-size: 32px;
  color: #21afff;
  margin-bottom: 16px;
}

.desc p {
  font-size: 20px;
  line-height: 150%;
  color: #c4c4c4;
}

.row {
  position: relative;
  padding: 96px 0;
}

.center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.leftColumn, .rightColumn { width: 50%; }
.rightColumn { margin-left: 50%; }

@media only screen and (max-width: 1440px) {
  .main { top: 18%; }
  #title { font-size: 80px; }
  #subtitle { font-size: 34px; }
  #inviteButton {
    width: 224px;
    font-size: 17px;
    margin: 30px auto;
  }
  .stats { top: 60%; }
  .statValue {
    font-size: 78px;
    padding: 0 14px;
  }
  .statTitle { font-size: 28px; }
  #scroll { top: 76%; }
  #scrollImg { width: 80px; }
  .description {
    width: 70%;
    margin-left: 15%;
  }
  .desc h1 { font-size: 28px; }
  .desc p { font-size: 18px; }
  .row { padding: 80px 0; }
}

@media only screen and (max-width: 1024px) {
  .main { top: 18%; }
  #logo { width: 54px; }
  #title { font-size: 68px; }
  #subtitle { font-size: 26px; }
  #inviteButton {
    width: 180px;
    font-size: 14px;
    margin: 24px auto;
    padding: 12px;
  }
  .stats { top: 58%; }
  .statValue {
    font-size: 68px;
    padding: 0 14px;
  }
  .statTitle { font-size: 24px; }
  #scroll { top: 74%; }
  #scrollImg { width: 68px; }
  .description {
    width: 80%;
    margin-left: 10%;
  }
  .desc h1 { font-size: 26px; }
  .desc p { font-size: 16px; }
  .row { padding: 70px 0; }
}

@media only screen and (max-width: 768px) {
  .main {
    top: 12%;
    width: 90%;
  }
  #logo { display: none; }
  #title {
    font-size: 15vw;
    line-height: 15vw;
    margin-bottom: 24px;
    text-shadow: 0px 2px #21afff;
  }
  #subtitle { font-size: 5vw; }
  #inviteButton {
    width: 50%;
    font-size: 3vw;
    margin: 24px auto;
    padding: 3vw;
  }
  .stats { top: 45%; }
  .left, .right { width: 100%; }
  .left { margin-bottom: 32px; }
  .statValue {
    font-size: 15vw;
    padding: 0 10px;
  }
  .statTitle { font-size: 5vw; }
  #scroll { display: none; }
  .description {
    width: 100%;
    margin-left: 0;
  }
  .description img {
    width: 80%;
    margin-left: 0;
  }
  #aquariumImg { width: 90%; }
  .desc { margin-top: 340px;}
  .desc h1 { font-size: 5vw; margin-bottom: 4px; }
  .desc p { font-size: 3.5vw; }
  .row { padding: 128px 0; }
  .leftColumn, .rightColumn {
    width: 100%;
    text-align: center;
  }
  .rightColumn { margin-left: 0; }
  .one { transform: translateY(136px); }
  .two { transform: translateY(116px); }
  .three { transform: translateY(56px); }
  .four { transform: translateY(180px); }
}

@media only screen and (max-width: 420px) {
  .row { padding: 80px 0; }
  .one { transform: translateY(-2px); }
  .two { transform: translateY(-14px); }
  .three { transform: translateY(-44px); }
  .four { transform: translateY(22px); }
}