#logo { filter: brightness(100%); position: absolute; }
#logo:hover { border-radius: 32px; cursor: default; }
#discordName {
  font-size: 20px;
  position: absolute;
  top: 54px;
  left: 112px;
  color: #C4C4C4;
  text-decoration: none;
  z-index: 4;
}
#logout { color: #21afff; text-decoration: none; }
#logout:hover { color: #0095eb; }

#title {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 11%;
  text-align: center;
  transform: translateX(-50%);
}

#title h1 {
  font-family: "Prompt";
  font-size: 96px;
  font-weight: 700;
  letter-spacing: 6px;
  text-shadow: 0px 4px #21afff;
}

#title h2 {
  font-size: 20px;
  font-weight: 400;
  color: #c4c4c4;
  margin-top: -8px;
}

#shop {
  width: 70vw;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translateX(-50%);
}

.item {
  position: relative;
  display: inline-block;
  width: 30%;
  margin: 1.44%;
  height: 290px;
  border-radius: 16px;
  background-color: #16161D;
  border: 1px solid transparent;
}

.item:hover {
  border: 1px solid #21afff;
  transition: 0.2s border-color;
}

.counter {
  user-select: none;
  position: absolute;
  bottom: 24px;
  right: 16px;
  border-radius: 0 0 16px 16px;
  width: 100%;
  height: 48px;
}

.price {
  letter-spacing: 1px;
  position: absolute;
  bottom: 28px;
  left: 32px;
  font-family: "Recursive";
  font-size: 20px;
  color: white;
  font-weight: 400;
}

.counter div {
  float: right;
  margin: 4px;
  font-size: 18px;
  height: 100%;
  width: 48px;
  line-height: 48px;
  border: 2px solid #21AFFF;
  border-radius: 50%;
  text-align: center;
}

.add:hover, .subtract:hover{
  cursor: pointer;
  background-color: #21AFFF;
  transition: 0.3s background-color;
}

.name {
  letter-spacing: 1px;
  font-size: 32px;
  font-family: "Prompt";
  text-align: center;
  margin: 32px 0 12px;
}

ul { position: absolute; padding: 0 32px 0 64px; }
li {
  font-size: 14px;
  line-height: 1.5;
  color: #C4C4C4;
}

#checkout, #login {
  color: white;
  font-family: "Recursive";
  font-size: 18px;
  width: 256px;
  height: 64px;
  background-color: transparent;
  border: 2px solid #21AFFF;
  border-radius: 32px;
  position: relative;
  bottom: -64px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s background-color;
  margin-bottom: 256px;
}

#checkout:hover, #login:hover {
  cursor: pointer;
  background-color: #21AFFF;
}

#checkout[type="button"]:hover {
  cursor: default;
  background-color: transparent;
}

.box {
  display: inline-block;
  padding: 0 4px 0 4px;
  color: #21afff;
  background-color: #20202A;
  border-radius: 4px;
}

.hovertext {
  position: relative;
  border-bottom: 1px dotted #c4c4c4;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 130px;
  background-color: #eee;
  color: #000;
  padding: 10px;
  transition: opacity 0.5s ease-in-out;

  font-size: 13px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

input { display: none; }
.hidden { opacity: 0; }

@media only screen and (max-width: 1440px) {
  #title { width: 60%; }
  #title h1 { margin-top: 24px; font-size: 80px; }
  #title h2 { font-size: 16px;}
  #shop {
    top: 45%;
    width: 90vw;
  }
  .item { height: 260px; }
  .name { font-size: 28px; }
  ul { padding: 0 24px 0 48px; }
  li { font-size: 14px; }
  .counter { height: 40px; }
  .counter div {
    width: 40px;
    font-size: 16px;
    line-height: 40px;
  }
  .price { bottom: 20px; }
  #checkout, #login {
    bottom: -48px;
    margin-bottom: 150px;
    width: 200px;
    height: 60px;
  }
}

@media only screen and (max-width: 1024px) {
  #title { width: 70%; }
  #title h1 { font-size: 64px; }
  #title h2 { font-size: 14px; }
  #discordName { font-size: 16px; }
  #shop { width: 95vw; }
  .item { margin: 1.3%; height: 200px; }
  .name { font-size: 24px; margin: 16px 0 8px; }
  ul { padding: 0 16px 0 32px; }
  li { font-size: 12px; }
  .counter { height: 32px; }
  .counter div {
    width: 32px;
    font-size: 14px;
    line-height: 32px;
  }
  .price { font-size: 16px; }
  #checkout, #login {
    bottom: -16px;
    margin-bottom: 128px;
    width: 150px;
    height: 50px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 800px) {
  #logo { display: block; }
  #shop { width: 80vw; top: 30%; }
  #title h1 { font-size: 80px; }
  #title h2 { font-size: 16px;}
  .item {
    width: 100%;
    height: 256px;
    margin: 0 0 32px 0;
  }
  .name { font-size: 32px; margin: 32px 0 12px; }
  ul { padding: 0 32px 0 64px; }
  li { font-size: 16px; }
  .price { font-size: 20px; bottom: 28px; }
  .counter { height: 48px; }
  .counter div { width: 48px; font-size: 18px; line-height: 48px; }
  #checkout, #login {
    bottom: -32px;
    width: 256px;
    height: 64px;
  }
  .hidden { display: none; }
}

@media only screen and (max-width: 420px) {
  #title { top: 13%; }
  #title h1 { font-size: 64px; }
  #title h2 { display: none; }
  #shop { top: 30%; }
  .name { font-size: 28px; margin: 16px 0 12px; }
  .item { height: 240px; }
  ul { padding: 0 20px 0 44px; }
  li { font-size: 13px; }
  .price { font-size: 18px; bottom: 24px; }
  .counter { height: 40px; }
  .counter div {
    width: 40px;
    font-size: 14px;
    line-height: 40px;
  }
}