#main {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 28%;
  text-align: center;
  transform: translateX(-50%);
}

#title {
  font-family: "Prompt";
  font-size: 96px;
  font-weight: 700;
  letter-spacing: 6px;
  text-shadow: 0px 4px #21afff;
}

#subtitle {
  font-size: 40px;
  font-weight: 300;
  color: #c4c4c4;
  margin-top: -8px;
}

a {
  display: inline-block;
  margin-top: 24px;
  font-size: 32px;
  color: #21afff;
  text-decoration: none;
}

a:hover { color: #0095eb; }

@media only screen and (max-width: 1440px) {
  #title { font-size: 80px; }
  #subtitle { font-size: 36px; }
  #a { font-size: 28px; }
}

@media only screen and (max-width: 768px) {
  #main { width: 80%; top: 30%; }
  #title { font-size: 48px; text-shadow: 0px 2px #21afff; letter-spacing: 2px; }
  #subtitle { font-size: 24px; }
  a { font-size: 20px; }
}